@mixin text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + ( (blue($n) * 114) * 0.001 ) );
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + ( (blue(#ffffff) * 114) * 0.001 ) );

  @if abs($color-brightness) < ( $light-color * 0.5 ) {
    color: white;
  }

  @else {
    color: black;
  }
}
