@import './mixins';
@import './variables';
@import './tabs';
@import './component';
@import '../../components/divider/demo';

html {
	font-size: $font-size;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: white;
}
