.boldgrid-section {
	height: 400px;
	position: relative;
	background: $color1;
}

.bg-divider {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	pointer-events: none;
	z-index: 1;

	&::after {
		display: block;
		position: absolute;
		content: '';
	}

	&.bg-divider-top {
		top: 0;
		bottom: initial;
		transform: translateY(-100%);

		&.section-divider-flip {
			transform: rotate(180deg);
		}
	}

	&.bg-divider-bottom {
		bottom: 0;

		&.section-divider-flip {
			transform: rotate(180deg) translateY(-100%);
		}
	}

}

.bg-divider svg {
	transform: rotate(180deg);
}

.bg-divider-triangle-shadow svg {
	transform: rotate(180deg);
	position: absolute;
	bottom: 0;
}
