.section-divider-slanted {
	&.section-divider-element-top {
		transform: translateY(-100%);
	}

	&:after {
		z-index: 1;
		width: 150%;
		background: inherit;
		transform: rotate(-2deg);
		transform-origin: 0 0;
		height: 120px;
		left: -25%;
	}
}
