$baseColor: #e2e2e2;

.boldgrid-section {
	height: 600px;
	position: relative;
	background: $baseColor;
}

.empty-section {
	height: 150px;
	background: #121212;
}

.bg-divider svg path {
	fill: #121212;
}

.bg-divider {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	pointer-events: none;
	z-index: 1;

	&::after {
		display: block;
		position: absolute;
		content: '';
	}

	&.bg-divider-top {
		top: 0;
		bottom: initial;

		&.bg-divider-flip {
			transform: rotate(180deg);
		}
	}

	&.bg-divider-bottom {
		bottom: 0;
		transform: translateY(100%);

		&.bg-divider-flip {
			transform: rotate(180deg);
		}
	}

}

.bg-divider-clouds svg {
	transform: rotate(180deg);
}
.bg-divider-waves svg {
	position: absolute;
    top: 0;
}
