ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-variant: small-caps;
	font-size: 1.2rem;
	border-bottom: 2px solid $color;
	background: $background;
	@include text-contrast( $background );

	li {
		background: none;
		display: inline-block;
		cursor: pointer;
		transition: all .5s;

		a {
			padding: 10px 15px;
			display: block;
			text-decoration: none;
			color: currentColor;
		}

		&:hover {
			background: rgba(0,0,0,.05);
		}

		&.current{
			background: $color;
			color: white;

			&:hover {
				background: lighten($color, 10%);
			}
		}
	}
}

.tab-content {
	display: none;
	margin: 0 auto;

	&.current{
		display: inherit;
	}
}
