<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BoldGrid Components</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<ul class="bg-tabs">
		<%= require("./templates/bg-logo.ejs")() %>
		<li class="tab-link current" data-tab="horizontal-rule"><a href="#horizontal-rule">Horizontal Rule</a></li>
		<li class="tab-link" data-tab="section-divider"><a href="#section-divider">Section Divider</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Column Shapes</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Lists</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Buttons</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Image Designs</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Text Effects</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Shapes</a></li>
		<li class="tab-link" data-tab="coming-soon"><a href="#coming-soon">Social Media</a></li>
	</ul>

	<div class="bg-tabs-content current horizontal-rule">
		<%= require("../components/hr/template.ejs")() %>
	</div>
	<div class="bg-tabs-content section-divider">
		<%= require("../components/divider/template.ejs")() %>
	</div>
	<div class="bg-tabs-content coming-soon">
		<h2 class="components-title">Coming Soon</h2>
	</div>

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</body>
</html>
