.has-hover-bg {
	:not( .bg-box ).hvrbox-show {
		opacity: 0;
		transition: opacity .2s ease-out;
		-moz-transition: opacity .2s ease-out;
		-webkit-transition: opacity .2s ease-out;
		-o-transition: opacity .2s ease-out;
	}
	&:hover {
		:not( .bg-box ).hvrbox-show {
			opacity: 1;
			transition: opacity .2s ease-in;
			-moz-transition: opacity .2s ease-in;
			-webkit-transition: opacity .2s ease-in;
			-o-transition: opacity .2s ease-in;
		}
	}
	:not( .bg-box ).hvrbox-hide {
		opacity: 1;
		transition: opacity .2s ease-in;
		-moz-transition: opacity .2s ease-in;
		-webkit-transition: opacity .2s ease-in;
		-o-transition: opacity .2s ease-in;
	}
	&:hover {
		:not( .bg-box ).hvrbox-hide {
			opacity: 0;
			transition: opacity .2s ease-out;
			-moz-transition: opacity .2s ease-out;
			-webkit-transition: opacity .2s ease-out;
			-o-transition: opacity .2s ease-out;
		}
	}
}

@media ( hover: none ) {
	.has-hover-bg {
		:not( .bg-box ).hvrbox-show {
			opacity: 1 !important;
		}
		:not( .bg-box ).hvrbox-hide {
			opacity: 0 !important;
		}
	}
}
