.col, .row, .boldgrid-section, .bg-box {
	&.show-on-hover {
		:not( .bg-box ) {
			opacity: 0%;
			&:hover {
				opacity: 100%;
			}
		}
	}
	&.hide-on-hover {
		:not( .bg-box ) {
			opacity: 100%;
			&:hover {
				opacity: 0%;
			}
		}
	}
}
