.col, .row, .boldgrid-section, .bg-box {
	&:not(.bg-box) {
		&.show-on-hover {
			opacity: 0%;
			&:hover {
				opacity: 100%;
			}
		}
		&.hide-on-hover {
			opacity: 100%;
			&:hover {
				opacity: 0%;
			}
		}
	}
}
