/* --------------------------------------------------------------
# Containers
-------------------------------------------------------------- */
.container {
	max-width: 100%;
}

/* --------------------------------------------------------------
# Gallery
-------------------------------------------------------------- */
.gallery-full-width img {
	width: 100%;
}

/* --------------------------------------------------------------
# Image Base Styles
-------------------------------------------------------------- */
img {
	max-width: 100%;
}

/* --------------------------------------------------------------
# Image Base Styles
-------------------------------------------------------------- */
.mod-reset {
	margin: 0;
}

/* --------------------------------------------------------------
# Paragraph Spacing
-------------------------------------------------------------- */
.dynamic-gridblock p {
	margin: 0;
	padding: 0;
}

.dynamic-gridblock p + p {
	margin-top: 10px;
}

.dynamic-gridblock .mod-reset {
	line-height: 0;
}

/* --------------------------------------------------------------
# Responsive Helpers
-------------------------------------------------------------- */

/* sm  */
@media (max-width: 768px) {
	.xs-text-center {
		text-align: center;
	}
}

/*  md  */
@media (max-width: 992px) {
	.sm-text-center {
		text-align: center;
	}
}

/* --------------------------------------------------------------
# Backgrounds
-------------------------------------------------------------- */
.background-scroll {
	background-attachment: scroll !important;
}

.background-fixed {
	background-attachment: fixed !important;
}

// Force all dynamic gridblock colors to inherit color of context.
.boldgrid-section,
.boldgrid-section.dynamic-gridblock {
	&.bg-background-color,
	.bg-background-color {
		*:not(.btn):not(select):not(textarea):not(input):not(.wp-playlist):not(a) {
			color: currentColor;
		}

		blockquote,
		hr {
			border-color: currentColor;
		}
	}
}

// Audio widget.
.bg-background-color .mejs-container {
	color: white !important;
}

/* --------------------------------------------------------------
# Sections
-------------------------------------------------------------- */
.boldgrid-section {
	min-height: 30px;
}

.site-header,
.site-footer {
	.boldgrid-section {
		min-height: 0;
	}
}

/* --------------------------------------------------------------
# Iframes
-------------------------------------------------------------- */
.boldgrid-section iframe,
iframe.boldgrid-google-maps,
.boldgrid-google-maps iframe {
	max-width: 100%;
}

/* --------------------------------------------------------------
# Buttons
-------------------------------------------------------------- */
.btn,
.button-primary,
.button-secondary {
	white-space: nowrap;

	&.btn-block {
		width: auto;
	}
}

.boldgrid-section .btn {
	text-decoration: none;
}

/* --------------------------------------------------------------
# Rows
-------------------------------------------------------------- */
.entry-content .row {
	display: flex;
	flex-wrap: wrap;

	&::before,
	&::after {
		width: 0;
	}
}
