/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */

/* * Text Effects * */
$text-fx-ns: bg-text-fx;

/* * Images * */
$img-ns: bg-img;

/* * Shapes * */
$box-ns: bg-box;
$shape-namespaces: bg-box bg-img;
$shape-rounded: 2em;
$shape-pill-radius: 1000px;

/* --------------------------------------------------------------
# Image Borders
--------------------------------------------------------------  */
@import 'image';

/*  --------------------------------------------------------------
# Blockquotes
--------------------------------------------------------------  */
@import 'blockquote';

/* --------------------------------------------------------------
# Text Shadows
--------------------------------------------------------------  */
@import 'text-effect';

/* --------------------------------------------------------------
# Module Backgrounds
-------------------------------------------------------------- */
@import 'shape';

/* --------------------------------------------------------------
# Column Alignment
-------------------------------------------------------------- */
@import 'column';

/* --------------------------------------------------------------
# Horizontal Rule
-------------------------------------------------------------- */
@import 'hr/style';

/* --------------------------------------------------------------
# Column Background Helpers
-------------------------------------------------------------- */
@import 'box';

/* --------------------------------------------------------------
# Lists
-------------------------------------------------------------- */
@import 'list';

/* --------------------------------------------------------------
# Clip Path Shapes
-------------------------------------------------------------- */
@import 'shape-path';

/* --------------------------------------------------------------
# Row Spacing styles.
-------------------------------------------------------------- */
@import 'row-spacing';

/* --------------------------------------------------------------
# Dividers
-------------------------------------------------------------- */
/* @import 'divider/style'; */

/* --------------------------------------------------------------
# Social Media
-------------------------------------------------------------- */
@import 'social-media';

/* --------------------------------------------------------------
# Pricing table
-------------------------------------------------------------- */
@import 'pricing-table/style';

/* --------------------------------------------------------------
# Video
-------------------------------------------------------------- */
@import 'video/style';

/* --------------------------------------------------------------
# Icon
-------------------------------------------------------------- */
@import 'icon/style';

/* --------------------------------------------------------------
# Generic Helper Classes
-------------------------------------------------------------- */
@import 'util';
