<style>
</style>

<h2 class="components-title">Section Divider Styles</h2>
<div class="components-body">
	<div class="boldgrid-section">
		<div class="bg-divider bg-divider-16">
		</div>
	</div>
</div>
