.section-divider-triangle::before,
.section-divider-triangle::after {
	left: 50%;
	width: 100px;
	height: 100px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.section-divider-triangle::before {
	top: -50px;
	background-color: inherit;
}

.section-divider-triangle::after {
	bottom: -50px;
	z-index: 10;
	background: inherit;
}
