<style>
.wrap-hr {
	margin: 50px;
}
hr {
	color: red;;
	background: black;
}
</style>


<h2 class="components-title">HR Styles</h2>
<div class="components-body">
	<div class='wrap-hr'><hr class="bg-hr bg-hr-16"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-15"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-14"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-1"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-19"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-2"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-20"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-18"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-3"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-17"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-7"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-4"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-5"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-6"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-8"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-9"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-10"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-11"></div>
	<div class='wrap-hr'><hr class="bg-hr bg-hr-13"></div>
</div>
